<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.financialcheat.mapper.ProjectMapper">

    <resultMap id="BaseResultMap" type="com.example.financialcheat.model.entity.Project">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="teamId" column="teamId" jdbcType="BIGINT"/>
            <result property="projectName" column="projectName" jdbcType="VARCHAR"/>
            <result property="projectProfile" column="projectProfile" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,teamId,projectName,
        projectProfile,createTime,updateTime,
        isDelete
    </sql>

</mapper>
