<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.financialcheat.mapper.TeamMapper">

    <resultMap id="BaseResultMap" type="com.example.financialcheat.model.entity.Team">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="teamName" column="teamName" jdbcType="VARCHAR"/>
            <result property="teamAvatar" column="teamAvatar" jdbcType="VARCHAR"/>
            <result property="teamProfile" column="teamProfile" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,teamName,teamAvatar,
        teamProfile,createTime,updateTime,
        isDelete
    </sql>
</mapper>
