<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.financialcheat.mapper.VariableMapper">

    <resultMap id="BaseResultMap" type="com.example.financialcheat.model.entity.Variable">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="variableName" column="variableName" jdbcType="VARCHAR"/>
            <result property="variableType" column="variableType" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="value" column="value" jdbcType="VARCHAR"/>
            <result property="fileId" column="fileId" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,variableName,variableType,
        description,value,fileId
    </sql>
</mapper>
